<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista empleados</span>
      <button class="btn btn-dark float-end" routerLink="/create-empleado">
        Agregar
      </button>
      <table class="table table-striped table-hover mt-3">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Identificación</th>
            <th scope="col">Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <th>{{ empleado.nombre }}</th>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.identificacion }}</td>
            <td>{{ empleado.salario | currency }}</td>
            <td>
              <i class="uil uil-edit text-warning fs-5"></i>
            </td>
            <td><i class="uil uil-trash-alt text-danger fs-5"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
